body{
	background-color: #fffcf2;
}

img{
	width: 700px;
	height: 600px;
}
.txt1{
	color: #9c6644;
	font-size: 50px;
	font-family: fantasy;
}

.img_txt{
	display: flex;
}
.img_txt2{
	display: flex;
}

.img{

	width: 700px;
	height: 600px;
}
.main{
	display: flex;

}
.bx1{
	background-color red;
	width:200px;
}

.main1{
	background-image: url("../img/qqq.jpg")
}
